/* MOBILE FIRST */

.pageAccueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.logo img {
  width: 50%;
  height: auto;
}

.connexion {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color-purple);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Libre Franklin", serif;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.bienvenue {
  margin: 5em 0.5em 2em 0.5em;
  border-radius: 2rem;
  height: auto;
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titleh1 {
  color: var(--bg-color-green);
  font-size: 2em;
  text-align: center;
  margin-top: 0.8em;
}

.titleh2 {
  color: var(--bg-color-purple);
  font-size: var(--fontsize-title);
  text-align: center;
  margin: 0 1;
}

.intro {
  font-size: var(--fontsize-text);
  text-align: center;
  margin: 1em;
}

.imgMetreRuban {
  width: 5em;
  margin-top: 0.5em;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
}

.listItem {
  font-size: var(--fontsize-text);
}

.balance {
  width: 2.8em;
  margin-top: 0.5em;
}

.xp_img {
  width: 2.4em;
  margin: 0.3em;
  border-radius: 1.4em;
}

.progress_bar {
  width: 16em;
  margin-top: 0.7em;
}

.buttonContainer {
  margin-bottom: 1.2em;
}

.questionnaire {
  height: auto;
  width: auto;
  background-color: var(--bg-color-purple);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 2.2em;
  padding: 0.5em 1em;
  color: white;
  border-radius: 0.6em;
  font-size: 0.9em;
  font-family: "Libre Franklin", serif;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

/* MODALES */

.textlogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleh3 {
  color: var(--bg-color-purple);
  font-family: "Libre Franklin", serif;
}

.modaleConnexion,
.modaleCreateAccount,
.modaleInscription {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.modaleConnexion.active,
.modaleCreateAccount.active,
.modaleInscription.active {
  visibility: visible;
  opacity: 1;
}

.modaleConnexionContent,
.modaleCreateAccountContent {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-light);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 70%;
  text-align: center;
}

.inscription,
.buttonConnexion,
.buttonInscription {
  width: 10rem;
  margin: 0.3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-color-purple);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  align-self: center;
}

.createAccount:hover,
.inscription:hover,
.connexion:hover,
.closeConnexion:hover,
.closeCreateAccount:hover,
.closeInscription:hover,
.buttonConnexion:hover,
.questionnaire:hover,
.buttonInscription:hover,
.buttoncreateAccount:hover {
  background-color: var(--bg-color-green);
}

.buttoncreateAccount {
  width: 10rem;
  margin: 0.3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  align-self: center;
}

.closeConnexion {
  position: absolute;
  top: 11.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.closeCreateAccount {
  position: absolute;
  top: 13rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.closeInscription {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.inputField,
.inscriptionInput {
  font-family: "Libre Franklin", serif;
  margin: 0.4rem;
  padding: 0.3rem;
  border-radius: 2rem;
  border: var(--bg-color-purple);
  border-width: thick;
}

.inputField:focus,
.inscriptionInput:focus {
  outline: none;
}

.logoModale {
  width: 20%;
}

.logoMail,
.logoMdp {
  width: 5%;
}

/* STYLE MODALE INSCRIPTION */

.inputContainer {
  margin: 0;
}

.modaleInscriptionContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--bg-color-light);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 70%;
  height: 40rem;
  text-align: center;
}

/* STYLE MODALE "FAISONS CONNAISSANCE" */

.infosUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoAvatar {
  width: 20%;
  padding: 0.5rem;
}

/* DESKTOP  */

@media screen and (min-width: 768px) {
  .pageAccueil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 50%;
  }

  .logo img {
    width: 40%;
    height: auto;
  }

  .connexion {
    position: absolute;
    width: auto;
    top: 2rem;
    right: 3rem;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color-purple);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Libre Franklin", serif;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .bienvenue {
    margin: 7em 0;
    border-radius: 2em;
    height: auto;
    min-width: 70%;
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .titleh1 {
    color: var(--bg-color-green);
    font-size: 2.4em;
    text-align: center;
    margin-top: 1em;
  }

  .titleh2 {
    color: var(--bg-color-purple);
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em;
  }

  .intro {
    font-size: 1.3em;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
  }

  .introSuivi {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .introGame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .imgMetreRuban {
    width: 7em;
    margin-top: 0.5em;
  }

  .listItem {
    font-size: var(--fontsize-title);
  }

  .balance {
    width: 5em;
    margin-right: 5em;
  }

  .xp_img {
    width: 3em;
    border-radius: 1.4em;
    margin-top: 1em;
    margin-left: auto;
  }

  .progress_bar {
    width: 20em;
    margin-top: 1.5em;
  }

  .buttonContainer {
    margin-bottom: 1.4em;
  }

  .questionnaire {
    background-color: var(--bg-color-purple);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Libre Franklin", serif;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  }

  /* MODALES */

  .textlogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .titleh3 {
    color: var(--bg-color-purple);
    font-family: "Libre Franklin", serif;
  }

  .modaleConnexion,
  .modaleCreateAccount,
  .modaleInscription {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
  }

  .modaleConnexion.active,
  .modaleCreateAccount.active,
  .modaleInscription.active {
    visibility: visible;
    opacity: 1;
  }

  .modaleConnexionContent,
  .modaleCreateAccountContent {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--bg-color-light);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 35rem;
    height: 19rem;
    text-align: center;
    gap: 0.5rem;
  }
  .modaleInscriptionContent {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background-color: var(--bg-color-light);
    padding: 1rem;
    padding-right: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 25rem;
    height: auto;
    text-align: center;
    gap: 0.5rem;
  }

  /* STYLE POUR INPUT SIZE AND WEIGHT */

  .size,
  .weight {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 400px;
  }

  .inscriptionInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .createAccount {
    width: 10rem;
    margin: 0.3rem;
    margin-top: 1rem;
    padding: 0.5rem;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    align-self: center;
  }

  .inscription,
  .buttonConnexion,
  .buttonInscription,
  .buttoncreateAccount {
    width: 10rem;
    margin: 0.3rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-color-purple);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    align-self: center;
    font-size: 1.1rem;
  }

  .buttoncreateAccount {
    width: 10rem;
    margin: 0.3rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    align-self: center;
  }

  .createAccount:hover,
  .inscription:hover,
  .connexion:hover,
  .closeConnexion:hover,
  .closeCreateAccount:hover,
  .closeInscription:hover,
  .buttonConnexion:hover,
  .questionnaire:hover,
  .buttonInscription:hover,
  .buttoncreateAccount:hover {
    background-color: var(--bg-color-green);
  }

  .closeConnexion,
  .closeCreateAccount {
    position: absolute;
    top: -2.5rem;
    right: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  .closeInscription {
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }

  .inputField,
  .inscriptionInput {
    font-family: "Libre Franklin", serif;
    margin: 0.4rem;
    padding: 0.3rem;
    border-radius: 2rem;
    border: var(--bg-color-purple);
    border-width: thick;
  }

  .inputField:focus,
  .inscriptionInput:focus {
    outline: none;
  }

  .logoModale {
    width: 15%;
  }

  .logoMail,
  .logoMdp {
    width: 4%;
  }

  /* STYLE MODALE "FAISONS CONNAISSANCE" */

  .logoAvatar {
    width: 30%;
    padding: 0.5rem;
  }
}
