.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: block;
  color: #373a47;
  text-decoration: none;
  margin-bottom: 10px;
}

/* Fond derrière le menu lorsqu'il est ouvert */
