/* MOBILE FIRST */

.pageTitle {
  font-size: 0.9rem;
  background-color: var(--bg-color-purple);
  width: 8rem;
  height: auto;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: white;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  box-sizing: border-box;
}

.user_informations {
  width: auto;
  padding: 0.4rem;
  margin: 1rem;
  background-color: #f2f0f6;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "Libre Franklin", serif;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.user_informationsEmail {
  width: 20rem;
  padding: 0.4rem;
  margin: 1rem;
  background-color: #f2f0f6;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "Libre Franklin", serif;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.submit_button {
  width: 10rem;
  height: 2rem;
  top: 2rem;
  right: 3rem;
  padding: 0.2rem;
  margin: 1rem;
  background-color: var(--bg-color-purple);
  border: black;
  color: white;
  border-radius: 0.5rem;
}

.message {
  width: 15rem;
  padding: 0.4rem;
  margin: 1rem;
  background-color: #f2f0f6;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "Libre Franklin", serif;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.message:focus,
.user_informations:focus {
  outline: none;
}

/* DESKTOP   */

@media (min-width: 768px) {
  .inputContainer {
    margin-top: 3rem;
  }

  .message {
    width: 45rem;
    height: 25rem;
    padding: 0.4rem;
    margin: 0.5rem;
    background-color: #f2f0f6;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: "Libre Franklin", serif;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .pageTitle {
    font-size: 1.2rem;
    background-color: var(--bg-color-purple);
    width: 14rem;
    height: auto;
    padding: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
  }
}
