/* Mobile first */

.mainDashoard {
  margin: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helloUser h1 {
  font-size: 2em;
}

/* Widgets */
.widgetsDashboard {
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  gap: 2em;
}

.widgetStats,
.widgetTracking,
.widgetQuests,
.widgetSeasonalRecipe {
  background-color: #f2f0f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 1.2em;
  padding: 0.5em;
  width: 100%;
}

.widgetsTitle {
  font-family: var(--title-font);
  font-size: var(--fontsize-title);
  background-color: var(--bg-color-green);
  color: white;
  padding: 0.6em;
  border-radius: 2em;
}

.questsArticles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 100px;
  padding: 0.5em;
  gap: 0.5rem;
  justify-content: center;
}

.questContent {
  border-radius: 2em;
  background: white;
  border-radius: 0.8em;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 10rem;
  height: 13rem;
}

.questTitle {
  font-family: var(--title-font);
  margin: 0;
  background-color: #e8def8;
  padding: 0.5em;
  border-radius: 1em;
}

.myQuests {
  font-family: var(--title-font);
  font-size: var(--fontsize-title);
  background-color: var(--bg-color-green);
  color: white;
  padding: 0.6em;
  border-radius: 2em;
}

.questXp {
  background-color: var(--bg-color-green);
  border-radius: 2em;
  height: 1.6rem;
  padding: 0.4em;
  margin: 0;
  color: white;
}

.questXpContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.foodCard {
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.recipeButton,
.questsButton {
  background-color: var(--bg-color-purple);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem;
  display: block;
  margin: auto;
  width: 9rem;
}

.foodImage {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Desktop */
@media screen and (min-width: 768px) {
  .widgetStats,
  .widgetTracking,
  .widgetQuests,
  .widgetSeasonalRecipe {
    background-color: #f2f0f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30em;
    border-radius: 1.2em;
    padding: 0.5em;
    width: 30em;
  }
  .widgetsTitle {
    margin-top: -20em;
    position: absolute;
  }

  .mainDashoard {
    padding: 5em;
  }

  .widgetsDashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }

  /* Quests */

  .questsArticles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 70rem;
    margin-left: 1.5rem;
    margin-top: 6rem;
    justify-content: center;
  }

  .myQuests {
    font-family: var(--title-font);
    font-size: var(--fontsize-title);
    background-color: var(--bg-color-green);
    color: white;
    padding: 0.6em;
    border-radius: 2em;
    position: absolute;
    margin-top: -20em;
  }

  .questContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .questsButton {
    margin: 0 1em 1em 1em;
    background-color: var(--bg-color-purple);
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
  }

  .questXp {
    margin-top: 0.5em;
    margin-right: -0.1em;
    padding: 0.6em;
  }

  .questTitleAndObj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0 1em 1em 1em;
  }

  .redirectionButtonQuests {
    margin-top: 3rem;
  }

  /* Food */
  .widgetSeasonalRecipe {
    gap: 0.7em;
    height: 30rem;
  }

  .foodCard {
    width: 300px;
  }

  .foodImage {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .recipeTitle {
    margin-top: 5rem;
  }
}
