.foodContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.pageTitle {
  font-size: 1.2rem;
  background-color: var(--bg-color-green);
  width: 14rem;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  color: white;
  text-align: center;
}

.select,
.recherche {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
  color: black;
}

.rechercheButton {
  background-color: var(--bg-color-green);
  border: none;
  border-radius: 10%;
  width: auto;
  margin: 0.8rem;
  padding: 0.3rem;
  color: white;
}

.foodList {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  justify-content: center;
  padding-bottom: 5rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-light);
  border: none;
  width: 13rem;
  height: 1rem;
  padding: 6rem;
  border-radius: 5%;
  cursor: pointer;
}

.recette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-light);
  border: none;
  width: 15rem;
  height: 12rem;
  padding: 9rem;
  border-radius: 5%;
  cursor: pointer;
}

.categoryImage,
.recetteImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 1rem;
  border-radius: 2%;
}

.categoryTitle,
.recetteTitle {
  font-size: 1rem;
  text-align: center;
  background-color: #e8def8;
  width: 10rem;
  border-radius: 10%;
  margin-top: 2rem;
}

.nomRecette {
  font-size: 1.8rem;
  color: var(--bg-color-purple);
}

.photoRecette {
  width: 65%;
}

.retour {
  margin-bottom: 4em;
}

.recetteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.instructionsTitle {
  background-color: var(--bg-color-purple);
  padding: 0.5rem;
  color: white;
  border-radius: 5px;
}

.instructionsRecette {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
}

.instructionsRecette ol {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  width: 90%;
}

/* Version desktop */
@media (min-width: 768px) {
  .photoRecette {
    width: 20%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }

  .category,
  .recette {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-light);
    border: none;
    width: 22rem;
    height: 22rem;
    padding: 6rem;
    border-radius: 5%;
    cursor: pointer;
  }

  .categoryImage,
  .recetteImage {
    width: 16rem;
    height: 10rem;
    object-fit: cover;
    margin: 1rem;
    border-radius: 2%;
  }

  .recetteTitle {
    font-size: 1.2rem;
    text-align: center;
    background-color: #e8def8;
    padding: 0.5rem;
    border-radius: 10%;
  }

  .categoryTitle {
    font-size: 1.2rem;
    text-align: center;
    background-color: #e8def8;
    padding: 0.5rem;
    border-radius: 10%;
  }

  .instructionsRecette {
    max-width: 80rem;
    line-height: 1.7;
  }
  .foodList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .pageTitle {
    font-size: 2.5rem;
    background-color: var(--bg-color-green);
    width: 25rem;
    height: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
  }
}
