/*Footer Mobile*/
.footercontainer {
  font-family: var(--text-font);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color-light);
  border-radius: 20px;
  height: 41px;
  width: 90%;
  margin: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footercontainer img {
  width: 25px;
  height: 25px;
}

a {
  text-decoration: none;
  color: black;
}

/*Footer Desktop*/
.footercontainer {
  @media screen and (min-width: 768px) {
    width: 100%;
    margin: 0;
    max-width: 100%;
    padding: 1rem 0;
  }
}
