@font-face {
  font-family: "Tajawal";
  src: url(../../public/fonts/Tajawal/Tajawal-Regular.ttf);
}

@font-face {
  font-family: "Libre Franklin";
  src: url(../../public/fonts/Libre_Franklin/static/LibreFranklin-Medium.ttf);
}

:root {
  --text-font: Tajawal;
  --title-font: Libre Franklin;
  --fontsize-text: 1rem;
  --fontsize-title: 1.2em;
  --bg-color-light: #f2f0f6;
  --bg-color-green: #5dcd8a;
  --bg-color-purple: #7b5cb9;
}

* {
  font-family: var(--text-font);
  font-size: var(--fontsize-text);
}
