/*MOBILE FIRST */
/*Header Mobile*/

* {
  box-sizing: border-box;
  font-family: var(--text-font);
  font-size: var(--fontsize-text);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
}

.coeur {
  width: 44px;
  height: 44px;
  animation: heartbeat 2.5s ease-in-out infinite, blink 1s step-start infinite;
}

/* Animation de clignotement qui imite un battement de cœur (pouls) */
@keyframes heartbeat {
  0%,
  100% {
    opacity: 1; /* Début et fin : logo visible */
  }
  20% {
    opacity: 0.6; /* Premier battement : logo devient plus léger */
  }
  40% {
    opacity: 1; /* Retour à la pleine opacité */
  }
  60% {
    opacity: 0.6; /* Deuxième battement : logo devient plus léger */
  }
  80% {
    opacity: 1; /* Retour à la pleine opacité */
  }
}

/* Animation de clignotement (opacité) */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5; /* Clignotement au milieu de l'animation */
  }
}

.logo {
  width: 166px;
  height: 44px;
}

nav,
.avatar {
  display: none;
}

/*Footer Mobile*/
footer {
  font-family: var(--text-font);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color-light);
  border-radius: 20px;
  height: 41px;
  width: 90%; /* Ajustez la largeur selon vos besoins */
  max-width: 337px; /* Limite la largeur maximale */
  margin: 0.8rem auto; /* Centre le conteneur horizontalement */
  position: fixed; /* Fixe le footer en bas de la page */
  bottom: 0; /* Positionne le footer en bas */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Centre le footer */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Décalage X, décalage Y, flou, couleur rgba */
}

footer img {
  width: 25px;
  height: 25px;
}

a {
  text-decoration: none;
  color: black;
}

/*RESPONSIVE TABLET & DESKTOP*/
@media only screen and (min-width: 768px) {
  /*Header Desktop*/
  header {
    padding: 1rem 2rem;
  }

  .coeur {
    width: 88px;
    height: 88px;
  }

  .logo {
    width: 402px;
    height: 89px;
  }

  .avatar {
    display: block;
    width: 88px;
    height: 88px;
    margin-left: auto;
    position: fixed;
    left: 90%;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 10%;
    position: fixed;
    top: 35%;
    left: 2%;
  }

  ul {
    height: 10%;
    list-style: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color-light);
    border-radius: 5%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Décalage X, décalage Y, flou, couleur rgba */
  }

  a {
    font-family: var(--title-font);
    font-size: var(--fontsize-title);
    text-decoration: none;
    color: black;
  }

  /*Footer Desktop*/
  footer {
    width: 80%;
    max-width: 800px;
    margin: 0.8rem auto;
  }
}
