/*MOBILE FIRST */
/*Header Mobile*/
::selection {
  background-color: var(--bg-color-green);
  color: #fff;
}

.headercontainer {
  padding: 1rem;
}

.coeur {
  width: 44px;
  height: 44px;
  animation: heartbeat 2.5s ease-in-out 1, blink 1s step-start 5;
}

/* Animation de clignotement qui imite un battement de cœur (pouls) */
@keyframes heartbeat {
  0%,
  100% {
    opacity: 1; /* Début et fin : logo visible */
  }
  20% {
    opacity: 0.6; /* Premier battement : logo devient plus léger */
  }
  40% {
    opacity: 1; /* Retour à la pleine opacité */
  }
  60% {
    opacity: 0.6; /* Deuxième battement : logo devient plus léger */
  }
  80% {
    opacity: 1; /* Retour à la pleine opacité */
  }
}

/* Animation de clignotement (opacité) */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5; /* Clignotement au milieu de l'animation */
  }
}

.logo {
  width: 166px;
  height: 44px;
}
.logoutButton {
  display: none;
}

.navbar,
.avatar {
  display: none;
}

/*RESPONSIVE TABLET & DESKTOP*/
@media only screen and (min-width: 768px) {
  /*Header Desktop*/
  .headercontainer {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
  }

  .coeur {
    width: 88px;
    height: 88px;
  }

  .logo {
    width: 402px;
    height: 89px;
  }

  .avatar {
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    position: fixed;
    left: 90%;
    top: 3%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 10%;
    position: fixed;
    top: 35%;
    left: 2%;
  }

  .navlist {
    height: 10%;
    list-style: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color-light);
    border-radius: 5%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Décalage X, décalage Y, flou, couleur rgba */
  }

  a {
    font-family: var(--title-font);
    font-size: var(--fontsize-title);
    text-decoration: none;
    color: black;
  }
}
