.questsComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 1.5em;
}

.questComponent h1 {
  font-family: var(--title-font);
  color: white;
  background-color: var(--bg-color-green);
  border-radius: 5em;
  padding: 0.4em;
}

.questsArticles {
  display: grid;
  grid-template-columns: repeat(2, 15em);
  gap: 2em;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 20em);
    gap: 3.5em;
  }
}

.questContent {
  background-color: var(--bg-color-light);
  border-radius: 2em;
}

.questXpContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.questXp {
  background-color: var(--bg-color-green);
  border-radius: 2em;
  padding: 0.6em;
  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0.8em;
  }
}

.questTitleAndObj {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.questsCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: end;
}
