.questsComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em;
  @media screen and (min-width: 768px) {
    margin: 0 4em 0.5em 6em;
  }
}

.questsComponentTitle {
  font-family: var(--title-font);
  color: white;
  background-color: var(--bg-color-green);
  border-radius: 3em;
  font-size: var(--title-font);
  padding: 0.8em;
  @media screen and (min-width: 768px) {
    font-size: 1.4em;
    padding: 0.8em;
    border-radius: 2em;
  }
}
