.detailRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.nameRecipe {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.photoRecipe {
  width: 15%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.instructionsRecette {
  max-width: 80rem;
  line-height: 1.7;
  background-color: var(--bg--color-light);
}
.instructionsTitle {
  background-color: var(--bg-color-purple);
  padding: 0.5rem;
  color: white;
  border-radius: 5px;
}

.instructionsRecette {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
}

.instructionsRecette ol {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  width: 90%;
}
