.detailRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.nameRecipe {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.photoRecipe {
  width: 15%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.instructionsRecipe {
  max-width: 80rem;
  line-height: 1.7;
}
