.background {
  border-radius: 2rem;
  margin-top: 10rem;
  margin-left: 40rem;
  height: 30rem;
  width: 50rem;
  background-color: var(--bg-color-light);
}

@property --k {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

svg[height="0"] {
  position: absolute;
}

.wip {
  --k: 0;
  place-self: center;
  background: linear-gradient(
      90deg,
      hsl(calc(var(--k) * 1turn), 95%, 65%),
      hsl(calc(var(--k) * 1turn + 90deg), 95%, 65%)
    )
    text;
  color: transparent;
  font: 900 clamp(0.875em, 7.25vw, 5em) arial black, sans-serif;
  filter: url(#f);
  text-align: center;
  text-transform: uppercase;
  animation: k 4s linear infinite;
}

@keyframes k {
  to {
    --k: 1;
  }
}

.wip {
  text-align: center;
  padding-top: 8rem;
}
